{
  "presets": ["@babel/preset-env"],
  "plugins": ["@babel/plugin-proposal-class-properties",
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "configs": "./server/configs",
        "controllers": "./server/controllers",
        "models": "./server/models",
        "middlewares": "./server/middlewares",
        "helpers": "./server/helpers",
        "db": "./server/db",
        "schemas": "./server/db/schemas",
        "routers": "./server/routers"
      }
    }]
  ]
}
