{
  "presets": ["@babel/preset-env"],
  "plugins": ["@babel/plugin-proposal-class-properties",
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "configs": "./server/configs",
        "helpers": "./server/helpers"
      }
    }]
  ]
}
